{% extends 'base.html.twig' %}

{% block title %}
    Etude de la vulnérabilité des ressources en eaux souterraines
{% endblock %}

{% block body %}
    <div class="container mb-3">
        <div style="position: relative" class="mb-3">
            <div style="z-index: 0">
                <img src="images/home/epukarst.png" style="width: 100%">
            </div>
            <div style="z-index: 1; position: absolute; left: 5%; bottom: 5%; width: 90%; color: white; font-size: 2vw; text-shadow: 3px 3px 3px rgba(0,0,0,0.5)">
                <h1 style="font-size: 4vw">EPU-KARST</h1>
                <div>Variabilité et transfert des nitrates dans les aquifères karstiques&nbsp;:</div>
                <div>Etude de la vulnérabilité des ressources en eaux souterraines</div>
            </div>
            <div style="z-index: 2; position: absolute; right: 5%; top: 5%">
                <div class="row no-gutters">
                    <a href="home/issep">
                        <div class="col" style="padding: 0px; margin: 5px"><img src="images/home/issep.png" alt="ISSeP" style="width: 120px"></div>
                    </a>
                    <a href="home/cwepss">
                        <div class="col" style="padding: 0px; margin: 5px"><img src="images/home/cwepss.png" alt="CWEPSS" style="width: 100px"></div>
                    </a>
                </div>
                <div class="row no-gutters">
                    <div class="col" style="padding: 0px; margin: 5px">
                        <a href="home/sanifox">
                            <img src="images/home/sanifox.png" alt="Sanifox" style="width: 230px">
                        </a>
                    </div>
                </div>
            </div>
            <div style="z-index: 3; position: absolute; left: 5%; top: 5%">
                <div class="col" style="padding: 0px; margin: 5px; color: #3b8ac3">
                    Financement octroyé par<br>
                    <img src="images/home/spge.png" alt="SPGE" style="width: 200px"></div>
            </div>
        </div>

        <div class="row no-gutters" style="background-color: black; color: white">
            {% for post in posts %}
                <div class="col" style="margin: 15px">
                    <h2>{{post.title}}</h2>

                    {% if post.summary %}
                        <p>{{post.summary}}</p>
                    {% endif %}

                    {% if post.slug is not null %}
                        <a href="{{path('home_post', {'slug': post.slug})}}" class="btn btn-primary">En savoir plus</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
