{% extends 'base.html.twig' %}

{% block title %}
    Créer une alarme
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une alarme</h1>
        {{ include('alarm/_form.html.twig') }}
    </div>
{% endblock %}
