{% extends 'base.html.twig' %}

{% block title %}
    Ajouter un relevé
{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container">
        <h1>Ajouter un relevé</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Ajouter le relevé</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
