{% extends 'base.html.twig' %}

{% block title %}
    Encoder un nouveau relevé
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Encoder un nouveau relevé</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Enregistrer le relevé</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
