{% extends 'base.html.twig' %}

{% block body %}
    {# Corps de la page #}
    <div class="container mb-3">
        {# Boutons de navigation #}
        {% include 'system/_navbar.html.twig' %}

        {% block content %}{% endblock %}
    </div>
{% endblock %}
