{% extends 'base.html.twig' %}

{% block body %}
    {# Corps de la page #}
    <div class="container mb-3">
        <div class="row">
            {# Colonne principale #}
            <div class="col mb-3">
                {% block content %}{% endblock %}
            </div>

            {# Colonne de droite #}
            <div class="col-4 alert bg-light">
                {# Boutons de navigation #}
                {% include 'system/_navbar.html.twig' %}

                {% block index %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
