{# Bouton permettant de revenir à la page précédente #}
<a href="javascript:window.history.back()" data-action="return-to-previous-page" class="btn btn-cancel">
    <i class="fas fa-backspace"></i>
    Retourner en arrière
</a>