<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {# Base du titre pour toutes les pages #}
        <title>
            EpuKarst - {% block title %}Bienvenue !{% endblock %}
        </title>

        {# Styles Bootstrap de base #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        {# Icônes FontAwesome #}
        <script src="https://kit.fontawesome.com/aa174c5a41.js" crossorigin="anonymous"></script>

        {# Styles propres à l'application #}
        <link rel="stylesheet" href="/css/app.css">

        {# Pour les styles propres à la page affichée #}
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {# Barre de navigation #}
        {% include 'navbar.html.twig' %}

        {# Flashes vers l'utilisateur #}
        {% include 'flashes.html.twig' %}

        {# Pour le corps de la page affichée #}
        {% block body %}{% endblock %}

        {# Scripts jQuery, Popper et Bootstrap #}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>    </head>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {# Pour les scripts propres à la page affichée #}
        {% block javascripts %}{% endblock %}

    </body>
</html>
