<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {# Base du titre pour toutes les pages #}
        <title>
            EpuKarst - {% block title %}Bienvenue !{% endblock %}
        </title>

        {# Viewport pour appareils mobiles #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Feuilles de style globales #}
        {{ encore_entry_link_tags('app') }}

        {# Pour les styles propres à la page affichée #}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# Barre de navigation #}
        {% include '_navbar.html.twig' %}

        {# Flashes vers l'utilisateur #}
        {% include '_flashes.html.twig' %}

        {# Pour le corps de la page affichée #}
        {% block body %}{% endblock %}

        {# Scripts globaux #}
        {{ encore_entry_script_tags('app') }}

        {# Fil d'ariane: ne pas l'afficher #}
        {% if 0 and (breadcrumbs is defined) and (breadcrumbs is not null) %}
            {{breadcrumbs.display}}
        {% endif %}

        {# Pour les scripts propres à la page affichée #}
        {% block javascripts %}{% endblock %}
    </body>
</html>
