{% extends 'base.html.twig' %}

{% block title %}
    Le site d'analyse qualitative des eaux souterraines
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Pour des eaux potables propres !</h1>
            <div class="alert alert-warning">Ce site est en construction. De ce fait, les données qu'il présente ne sont pas encore toutes représentatives.</div>
            <p class="lead">L'eau potable représente une ressource de première nécessité et un enjeu majeur dans la bonne gestion de l'environnement, au même titre que le climat et la mobilité.  La Directive Cadre sur l'Eau et sa transposition dans la législation wallone organise non seulement la protection des captages mais également des nappes et des ressources hydriques potentiellement potabilisables.</p>
            <hr class="my-4">
            <p>Dans cette optique, l'ensemble des masses d'eau souterraines en Europe devront atteindre un bon état quantitatif et chimique, à l'échéance 2027 au plus tard. En Wallonie, l'aspect quantitatif est globalement sous contrôle, et les efforts à faire concernent surtout la qualité chimique des eaux souterraines.</p>
            <p>Grâce au projet EpuKarst, la Commission Wallonne d'Etude et de Protection des Eaux Souterraines (CWEPSS) et ses partenaires, étudient la vulnérabilité et la variabilité des concentrations en nitrates dans les systèmes aquifères karstiques, et détermine leurs impacts sur les ressources en eaux potabilisables de Wallonie.</p>
            <p>EpuKarst est une base de données collaborative en ligne qui permet aux divers partenaires du projet d'encoder leurs observations de terrain et les analyses réalisées sur différentes stations d'observation présentes au sein de 5 systèmes karstiques.</p>
            <a href="{{ path('system') }}" class="btn btn-primary">Voir les systèmes concernés par l'étude</a>
        </div>

        <h2>Le cycle du nitrate</h2>
        <p>Texte...</p>

        <h2>Une investigation hydrologique originale</h2>
        <p>Texte...</p>
    
        <h2>Les objectifs du projet</h2>
        <p>Texte...</p>
</div>
{% endblock %}
